.lorum {
    display: grid;
    grid-template-areas: "lorum__title lorum__pic";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 8vh;
    align-items: center;
}

.lorum__title {
    grid-area: lorum__all;
}

.lorum__pic {
    grid-area: lorum__pic;
    position: relative;
}

.lorum__pic__button {
    grid-area: lorum__pic;
    position: absolute;
    bottom: 0;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: #BDBDBD22;
    gap: 20px;
    margin-top: 10vh;
}

.about__pic1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 2vh;
    padding-left: 5vw;
}

.about__pic2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-items: start;
    margin-top: 6vh;


}

.about__pic3 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 5vw;

}

.text {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 5vw;
}

.item-gallery__button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 90px;
}

.item-gallery__button__pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


}

.item-gallery__button-left {
    width: 52.95px;
    height: 53px;
    margin-right: 5px;
    margin-left: 30px;
    margin-bottom: 25px;
    background-color: transparent;
    border-color: #F2F2F2;


}

.item-gallery__button-right {
    width: 52.95px;
    height: 53px;
    margin-left: 5px;
    margin-bottom: 25px;
    background-color: transparent;
    border-color: #F2F2F2;
}

.item-gallery__slide-numbers {
    display: flex;
    justify-content: start;
    margin-left: 15px;

}

/*Текст*/

h1,
h2 {
    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.about__text {
    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

.lorum__text {
    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #333333
}

.about__title {
    margin-top: 30px;
    margin-left: 5px;
}


/* Вторая часть */

.mission {
    display: grid;
    grid-template-areas: "mission__title"
        "mission__statement";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    margin-top: 20vh;
    justify-items: start;
}

.mission__title {
    grid-area: mission__title;
}

.mission__statement {
    grid-area: mission__statement;
}

.project {
    display: grid;
    margin-top: 15vh;
    grid-row-gap: 3%;
}

.project__title {
    grid-area: project__title;
}

.project__image1 {
    display: flex;
    grid-area: project__image1;
}

.project__image2 {
    display: flex;
    grid-area: project__image2;
}

.image__item1_all {
    display: flex;
    position: relative;
    overflow: hidden;
}

.image1__text {
    display: none;
    position: absolute;
    padding-top: 6vh;
    padding-left: 5vw;
    padding-right: 8vw;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 1;
}

.image__item1_all:hover div {
    display: block;
    opacity: 0.8;
}

.image1__text img {
    width: 24px;
    height: 24px;
}

.project__btn {
    grid-area: project__btn;
    justify-self: end;
    margin-top: 3%;
}

.contact {
    display: grid;
    margin-top: 20vh;
    margin-bottom: 25vh;
    grid-column-gap: 30px;
}

.contact_title {
    grid-area: contact_title;
}

form {
    grid-area: input_form;
}

.picture {
    grid-area: picture;
}

.backcolor {
    background: #F3F3F3;
    color: #8D8D8D;
}

.contact_btn {
    grid-area: contact_btn;
    align-self: end;
}

/* Шрифты вторая часть*/
h1,
.textstyle {
    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.textstyle {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.image1__text h1 {
    font-weight: bold;
    color: white;
    font-size: 64px;
    line-height: 64px;
}

.image1__text p {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 2vh;
}

/*Кнопки*/
.item-project__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 0px;

    width: 222px;
    height: 71px;

    border: none;
    background-color: white;
}

.item-project__textbutton {
    margin-top: 12px;
    margin-right: 25px;

    font-family: 'Roboto', Times, serif;
    font-size: 12px;
    line-height: 12px;

    color: black;
    text-decoration: none;
}

.item-project__arrow {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

.button {
    color: #ffffff;
    background-color: #333333;
    width: 222px;
    height: 71px;
    border-radius: 0;

    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    color: #ffffff;
    text-decoration: underline;
}

.button img {
    margin-left: 12px;
}

/*Адаптивность*/

@media screen and (max-width:1070px) {
    .lorum {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lorum__pic {
        display: none
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .about__pic1 {
        display: none;
    }

    .about__pic3 {
        display: none;
    }

}




@media screen and (max-width: 767px) {

    .mission {
        grid-row-gap: 30px;
    }

    .project {
        grid-template-areas: "project__title"
            "project__image1"
            "project__btn";
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 6fr 1.5fr;
    }

    .project__image1 {
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 100%;
    }

    .image__item1_all {
        width: 70%;
        height: 50%;
    }

    .image__item1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image__item2 {
        width: 70%;
        height: 50%;
        object-fit: cover;
        margin-top: 3%;
    }

    .project__image2 {
        display: none;
    }

    .contact {
        grid-template-areas: "contact_title"
            "input_form"
            "contact_btn";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr;
    }

    .picture {
        display: none;
    }

    .image1__text h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .project__btn {
        margin-top: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .project {
        grid-template-areas: "project__title"
            "project__image1"
            "project__btn";
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 6fr 1.5fr;
    }

    .project__image1 {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .image__item1_all {
        width: 70%;
        height: 100%;
    }

    .image__item1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image__item2 {
        width: 70%;
        height: 100%;
        object-fit: cover;
        margin-top: 3%;
    }

    .project__image2 {
        display: none;
    }

    .contact {
        grid-template-areas: "contact_title"
            "input_form"
            "picture"
            "contact_btn";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 5fr 1fr;
    }
}

@media screen and (min-width: 1024px) {

    .project {
        grid-template-areas: "project__title"
            "project__image1"
            "project__image2"
            "project__btn";
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 3fr 3fr 1.5fr;
    }

    .project__image1,
    .project__image2 {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .image__item1_all {
        width: 49%;
        height: 100%;
    }

    .image__item1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image__item2 {
        width: 49%;
        height: 100%;
        object-fit: cover;
    }

    .image__item3 {
        width: 22%;
        height: 100%;
        object-fit: cover;
    }

    .image__item4 {
        width: 41%;
        height: 100%;
        object-fit: cover;
    }

    .image__item5 {
        width: 32%;
        height: 100%;
        object-fit: cover;
    }

    .contact {
        grid-template-areas: "contact_title contact_title"
            "input_form picture"
            "contact_btn contact_btn";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.2fr 5fr 1.6fr;
    }
}