body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.btn {
    color: #ffffff;
    background-color: #2C2C2C;
    padding: 30px 60px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.content-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: grid;
    grid-template-columns: 70px auto;
    margin-top: 29px;
}

header .links {
    text-align: right;
    padding-right: 130px;
    margin-top: 13px;
}

header .links .link {
    display: inline-block;
    background-color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
    padding: 3px 15px;

}

header .links .link.active,
header .links .link:hover {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

header .links .link a {
    text-decoration: none;
    color: #333333;
}

@media screen and (max-width: 985px) {
    header .links {
        padding-right: 0;
    }
}

@media screen and (max-width: 740px) {
    header .links {
        margin-top: 0;
    }

    header .links .link {
        display: table;
        margin-bottom: 5px;
        margin-left: auto;
    }
}

.contacts-container {
    display: grid;
    grid-template-columns: 515px auto;
}

.contacts-container .left {
    margin-top: 117px;
}

.contacts-container .company-name {
    margin-top: 34px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;

}

.contacts-container .address {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

.contacts-container .tel {
    margin-top: 44px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.contacts-container .email {
    margin-top: 53px;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

.contacts-container .contact-us {
    margin-top: 63px;
}

.contacts-container .right {
    margin-top: 40px;
    margin-bottom: 120px;
}

.contacts-container .map {
    border: 1px solid #333333;
    height: 562px;
}

/*Тут css подвала*/
.podval {
    background-color: rgba(44, 44, 44, 1);
}

.podval .address {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.podval .logo {
    margin-top: 58px;
}

.podval .inform {
    margin-top: 28px;
    margin-left: 100px;
}

.podval .cont {
    margin-top: 28px;
    margin-left: 157px;
}

.podval .social {
    margin-top: 28px;
}

.podval .zaglav {
    font-family: 'Roboto', Times, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.podval p {
    font-family: 'Roboto', Times, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-block-start: 0;

    color: #FFFFFF;
}

.podval .soc_seti {
    display: flex;
    width: 193px;
    justify-content: space-between;
}

.podval .line_niz {
    margin-top: 30px;
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}

.podval .text_niz {
    margin-top: 5px;
    padding: 15px;
    font-family: 'Open Sans', Times, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: rgba(200, 200, 200, 0.5);
}

.podval .adres {
    display: grid;
    grid-template-columns: 30px 365px;
    grid-template-rows: 55px;
}

.podval .telephone_number {
    display: grid;
    grid-template-columns: 30px 365px;
    grid-template-rows: 67px;
    margin-top: 31px;
}

.podval .mail {
    display: grid;
    grid-template-columns: 30px 365px;
    grid-template-rows: 60px;
}

/*Конец css подвала*/